
@{
    Layout = "~/Areas/Administrator/Views/Templates/_LayoutPage.cshtml";
}

<form action="@Url.Action("UpdateIndex", "Article")" method="POST" id="updateIndex">
    @{
        <div class="optionShow">
            <div class="optionShow-title">Search</div>
            <div class="item-option">
                <div class="title-item-option">Menu:</div>
                <div class="content-item-option">@Html.DropDownList("ListMenu")</div>
            </div>
        </div>
    }

    <div id="jtable-main-container"></div>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#jtable-main-container').jtable({
            title: '@ViewBag.Title',
            paging: true, //Enable paging
            pageSize: 30, //Set page size (default: 10)
            sorting: true, //Enable sorting
            defaultSorting: 'Name ASC', //Set default sorting
            selecting: true, //Enable selecting
            multiselect: true, //Allow multiple selecting
            selectingCheckboxes: true, //Show checkboxes on first column
            columnResizable: true, //Actually, no need to set true since it's default
            columnSelectable: true, //Actually, no need to set true since it's default
            saveUserPreferences: true, //Actually, no need to set true since it's default
            toolbar: {
                items: [{
                    icon: '/Areas/Administrator/Content/img/add.png',
                    text: 'Add new',
                    click: function () {
                        window.location = '@Url.Action("Create", "Article")';
                    }
                }, {
                    icon: '/Areas/Administrator/Content/img/Ordering.png',
                    text: 'Sort',
                    click: function () {
                        $("#updateIndex").submit();
                    }
                }]
            },
            actions: {
                listAction: '@Url.Action("List", "Article")',
                deleteAction: '@Url.Action("Delete", "Article")',
            },
            fields: {
                ID: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Title: {
                    title: 'Title',
                    width: '13%',
                    display: function (data) {
                        return '<a href="/admin/Article/Update/' + data.record.ID + '">' + data.record.Title + '</a>';
                    }
                },
                TitleMenu: {
                    title: 'Title menu',
                    width: '13%',
                },
                Index: {
                    title: 'Index',
                    width: '8%',
                    sorting: false,
                    display: function (data) {
                        return '<input type="text" name="sort[' + data.record.ID + '].Index" style="width:25px" value="' + data.record.Index + '"/>';
                    }
                },
                Status: {
                    title: 'Status',
                    width: '8%',
                    type: 'checkbox',
                    values: { 'true': 'Yes', 'false': 'No' },
                    defaultValue: 'true'
                },
                Home: {
                    title: 'Home',
                    width: '8%',
                    type: 'checkbox',
                    values: { 'true': 'Yes', 'false': 'No' },
                    defaultValue: 'true'
                },
                Hot: {
                    title: 'Hot',
                    width: '8%',
                    type: 'checkbox',
                    values: { 'true': 'Yes', 'false': 'No' },
                    defaultValue: 'true'
                },
                @*New: {
                    title: '@Html.DisplayNameFor(c => c.New)',
                    width: '8%',
                    type: 'checkbox',
                    values: { 'true': 'Có', 'false': 'Không' },
                    defaultValue: 'true'
                },
                Value: {
                    title: '@Html.DisplayNameFor(c => c.Value)',
                    width: '8%',
                    type: 'checkbox',
                    values: { 'true': 'Có', 'false': 'Không' },
                    defaultValue: 'true'
                },*@
                '':
                    {
                        title: '',
                        width: '2%',
                        sorting: false,
                        display: function (data) {
                            return '<button title="Edit" type="button" class="jtable-command-button jtable-edit-command-button" onclick="editRecord(' + data.record.ID + ')"><span>Edit</span></button>';
                        }
                    }
            }
        });
        $('#jtable-main-container').jtable('load');
    });
    </script>
</form>


<script>   
    function editRecord(advId) {
        window.location = '@Url.Action("Update","Article")' + '/' + advId;
    }
    

    $("#ListMenu").change(function () {
        $('#jtable-main-container').jtable('load', { menuId: $("#ListMenu").val() });
    });
</script>
